# Configuration file

####################
# debugger
####################

debugger {
    B:debug_mode=false
}


####################
# fun stuff
####################

"fun stuff" {
    I:blockFunStuff=3725
    I:ingotFunStuff=21000
    I:moltenFairy=2312
    I:moltenPokefennium=2311
}


####################
# mekanism
####################

mekanism {
    I:moltenOsmium=2310
    I:moltenRefinedGlowstone=2309
}


####################
# metallurgy 3 base
####################

"metallurgy 3 base" {
    I:moltenAngmallen=2270
    I:moltenDamascusSteel=2271
    I:moltenHepatizon=2272
    I:moltenManganese=2273
}


####################
# metallurgy 3 base alloy ratios
####################

"metallurgy 3 base alloy ratios" {
    # Gold, Iron, Angmallen
    I:angmallenRatio <
        1
        1
        2
     >

    # Iron, Bronze, Damascus Steel
    I:damascusSteelRatio <
        1
        1
        2
     >

    # Gold, Bronze, Hepatizon
    I:hepatizonRatio <
        1
        1
        2
     >

    # Iron, Maganese, Steel
    I:steelRatio <
        1
        1
        2
     >
}


####################
# metallurgy 3 end
####################

"metallurgy 3 end" {
    I:moltenDesichalkos=2305
    I:moltenEximite=2306
    I:moltenMeutoite=2307
}


####################
# metallurgy 3 end alloy ratios
####################

"metallurgy 3 end alloy ratios" {
    # Eximite, Meutoite, Desichalkos
    I:desichalkosRatio <
        1
        1
        2
     >
}


####################
# metallurgy 3 fantasy
####################

"metallurgy 3 fantasy" {
    I:moltenAdamantine=2289
    I:moltenAstralSilver=4092
    I:moltenAtlarus=4091
    I:moltenBlackSteel=2292
    I:moltenCarmot=2293
    I:moltenCelenegil=2294
    I:moltenDeepIron=2295
    I:moltenHaderoth=2296
    I:moltenInfuscolium=2297
    I:moltenMithril=2298
    I:moltenOrichalcum=2299
    I:moltenOureclase=2300
    I:moltenPrometheum=2301
    I:moltenQuicksilver=2302
    I:moltenRubracium=2303
    I:moltenTartarite=2304
}


####################
# metallurgy 3 fantasy alloy ratios
####################

"metallurgy 3 fantasy alloy ratios" {
    # Infuscolium, Deep Iron, Black Steel
    I:blackSteelRatio <
        1
        1
        2
     >

    # Orichalcum, Platinum, Celenegil
    I:celenegilRatio <
        1
        1
        2
     >

    # Mithril, Rubracium, Haderoth
    I:haderothRatio <
        1
        1
        2
     >

    # Mithril, Silver, Quicksilver
    I:quicksilverRatio <
        1
        1
        2
     >

    # Adamantine, Atlarus, Tartarite
    I:tartariteRatio <
        1
        1
        2
     >
}


####################
# metallurgy 3 nether
####################

"metallurgy 3 nether" {
    I:moltenAlduorite=2277
    I:moltenAmordrine=2276
    I:moltenCeruclase=2278
    I:moltenIgnatius=2279
    I:moltenInolashite=2280
    I:moltenKalendrite=2281
    I:moltenLemurite=2282
    I:moltenMidasium=2283
    I:moltenSanguinite=2284
    I:moltenShadowIron=2285
    I:moltenShadowSteel=2286
    I:moltenVulcanite=2287
    I:moltenVyroxeres=2288
}


####################
# metallurgy 3 nether alloy ratios
####################

"metallurgy 3 nether alloy ratios" {
    # Kalendrite, Platinum, Amordrine
    I:amordrineRatio <
        1
        1
        2
     >

    # Alduorite, Ceruclase, Inolashite
    I:inolashiteRatio <
        1
        1
        2
     >

    # Shadow Iron, Leumrite, Shadow Steel
    I:shadowSteelRatio <
        1
        1
        2
     >
}


####################
# metallurgy 3 precious
####################

"metallurgy 3 precious" {
    I:moltenBrass=2274
    I:moltenPlatinum=2308
    I:moltenZinc=2275
}


####################
# metallurgy 3 precious alloy ratios
####################

"metallurgy 3 precious alloy ratios" {
    # Copper, Zinc, Brass
    I:brassRatio <
        1
        1
        2
     >

    # Gold, Silver, Electrum
    I:electrumRatio <
        1
        1
        2
     >
}


####################
# misc_items
####################

misc_items {
    I:itemExtraBucket=26050
}


####################
# mod support
####################

"mod support" {
    B:appliedEnergistics=true
    B:biomesOPlenty=true
    B:funStuff=true
    B:mekanism=true
    B:metallurgy=true
    B:natura=true
    B:tinkersSteelWorks=true
}


####################
# parts
####################

parts {
    I:arrowhead=31719
    I:axeHead=31718
    I:battelSign=31717
    I:binding=31716
    I:chiselHead=31715
    I:chunk=31714
    I:crossbar=31713
    I:excavatorHead=31712
    I:frypanHead=31711
    I:fullGuard=31710
    I:hammerHead=31704
    I:knifeBlade=31703
    I:largeGuard=31702
    I:largeSwordBlade=31701
    I:largeplate=31700
    I:lumberaxeHead=31699
    I:mediumGuard=31698
    I:pickaxeHead=31697
    I:scytheHead=31696
    I:shovelHead=31695
    I:swordBlade=31694
    I:toolrod=31693
    I:toughbind=20022
    I:toughrod=20023
}


