#MLProperties: name (type:default) min:max -- information
#MLProp : ShelfID (int:132,>=1.0,<=255.0)
#MLProp : Render3DItems (boolean:false)
#MLProp : RotateItems (boolean:false)
#
#Tue May 26 21:05:53 BST 2026
RotateItems=false
Render3DItems=false
ShelfID=132
checksum=20e
