# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:1500) -- The timeout in milliseconds for the version update check.
# 
# Wed Oct 29 20:36:50 GMT 2025
allowDebugOutput=false
allowUpdateCheck=true
updateTimeoutMilliseconds=1500
