## Settings file was created by plugin MoreJewelry v1.0.12
## Plugin GUID: probablykory.MoreJewelry

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

## If on, mod will output alot more information in the debug log level. [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Debugging Enabled = Off

[2 - Jewelry]

## If set to on, the YAML file from your config folder will be used to configure custom jewelry.
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use External YAML = Off

## Just ignore this. [Not Synced with Server]
# Setting type: Int32
# Default value: 0
YAML Editor Anchor = 0

## The list of locations Perception will lead the wearer towards. [Synced with Server]
# Setting type: String
# Default value: Vendor_BlackForest:Hildir_camp
# Note: You must use valid location names, separated by a colon.
Perception Locations = Vendor_BlackForest:Hildir_camp

## The interval in seconds the effect will trigger. [Synced with Server]
# Setting type: Single
# Default value: 30
Perception Cooldown = 30

## The minimum distance to a location required to trigger the effect. [Synced with Server]
# Setting type: Single
# Default value: 1000
Perception Minimum Distance = 1000

