## Settings file was created by plugin Valheim Performance Optimizations v1.0.0
## Plugin GUID: dev.ontrigger.vpo

[General]

## The engine updates physics multiple times per frame. 
## Coincidentally, physics calculation is the most expensive part of Valheim and it can be done up to 15 times per frame. 
## If can't get more than 20 fps, reducing this value can significantly boost fps in bases at the cost of less accurate physics. 
## The lowest you can go is 5
# Setting type: Int32
# Default value: 8
# Acceptable value range: From 5 to 15
Max physics updates per frame = 8

## Experimental: if enabled terrain is generated in parallel, this reduces lag spikes when moving through the world. This is an experimental feature, please report any issues that may occur.
# Setting type: Boolean
# Default value: true
Threaded terrain collision baking enabled = true

