## Settings file was created by plugin StopChoppyAudio v0.1.3
## Plugin GUID: neobotics.valheim_mod.stopchoppyaudio

[General]

## How close a player must be to a sound source for it to play. Modified automatically by Smart Filtering (but never less)
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 120
Max Player Distance = 10

## Controls how sounds are filtered. SmartFiltering automatically adjusts 'playable' sound distance. BaseDetection provides legacy functionality.
# Setting type: Strategy
# Default value: SmartFiltering
# Acceptable values: BaseDetection, SmartFiltering
Filter Type = SmartFiltering

## The minimum 'value' of a nearby base to start restricting sound effects (BaseDetection only). Setting to 0 will always filter sounds beyond Max Player Distance.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 200
Min Base Value = 10

## The maximum additional distance for Smart Filtering to include sounds to play. Actual distance depends on audio load.
# Setting type: Int32
# Default value: 50
# Acceptable value range: From 0 to 100
Smart Range = 50

[Utility]

## Controls the level of information contained in the log
# Setting type: LogLevels
# Default value: Info
# Acceptable values: Critical, Error, Warning, Info, Debug, Trace
LogLevel = Info

