## Settings file was created by plugin Render Limits v1.14
## Plugin GUID: render_limits

[1. Visibility]

Active area = 2

Loaded area = 2

Distant area = 3

Real terrain visibility = 180

Clutter visibility = 0

Force active = 

[1. Zones]

## Amounts of zones that are active around the player. Creatures are active in this area.
# Setting type: String
# Default value: 1
Active zones = 1

## Amounts of zones loaded around the player. Structures are visible in this area. 
# Setting type: String
# Default value: 2
Loaded zones = 2

## Amounts of zones generated around the player. Large static objects like trees are visible in this area.
# Setting type: String
# Default value: 4
Generated zones = 4

## Visibility in meters. If 0, automatically calculated from loaded area.
# Setting type: String
# Default value: 0
Real terrain visibility = 0

## Zones that are always active.
# Setting type: String
# Default value: 
Force active = 

[2. Quality]

## Visibility in meters.
# Setting type: String
# Default value: 45
Clutter visibility = 45

## Level of detail limit (increase to show smaller objects, vanilla is from 1 to 5 but even 100 works).
# Setting type: String
# Default value: 
Lod bias = 

## Light detail (bigger the better, vanilla is from 2 to 8).
# Setting type: String
# Default value: 
Pixel light count = 

## Improves shadows near the camera (bigger the better, vanilla is from 2 to 4).
# Setting type: String
# Default value: 
Shadow cascades = 

## 0: off, 1: hard only, 2: all.
# Setting type: String
# Default value: 
Shadow quality = 

## Max distance for shadows in meters (vanilla is from 80 to 150).
# Setting type: String
# Default value: 
Shadow distance = 

## Shadow quality. From 0 to 3.
# Setting type: String
# Default value: 
Shadow resolution = 

[3. Server limits]

## Maximum generated zones that can be received from clients.
# Setting type: String
# Default value: 10
Maximum generated zones = 10

## Whether clients can have force active areas.
# Setting type: Boolean
# Default value: false
Allow force active = false

[3. Synced settings]

Spawn limit = 200

