# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:1500) -- The timeout in milliseconds for the version update check.
# 
# Tue May 26 21:07:42 BST 2026
allowDebugOutput=false
allowUpdateCheck=true
updateTimeoutMilliseconds=1500
