<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>launch_count</key>
        <integer>13</integer>
        <key>push_noti_rationale_shown</key>
        <key>volume_fx</key>
        <real>0.2300000</real>
        <key>launch</key>
        <dict>
            <key>fps</key>
            <integer>60</integer>
            <key>fullscreen</key>
            <true/>
            <key>vsync</key>
            <false/>
            <key>largePointer</key>
            <false/>
            <key>monitor</key>
            <string>(0) Generic PnP Monitor</string>
            <key>hd</key>
            <true/>
            <key>width</key>
            <integer>1920</integer>
            <key>freq</key>
            <integer>144</integer>
            <key>height</key>
            <integer>1080</integer>
        </dict>
        <key>language</key>
        <key>volume_music</key>
        <real>0.0500000</real>
        <key>joystick_settings</key>
        <dict>
            <key>RateLimitDelayRepeat</key>
            <real>0.1500000</real>
            <key>JoystickSpeed</key>
            <real>600.0000000</real>
            <key>JoystickPower</key>
            <real>3.0000000</real>
            <key>NavKeyStep</key>
            <real>20.0000000</real>
            <key>JoystickRampUpTime</key>
            <real>0.2500000</real>
            <key>JoystickAxisThreshold</key>
            <real>0.1000000</real>
            <key>RateLimitDelay</key>
            <real>0.4000000</real>
            <key>NavKeyStepAlt</key>
            <real>100.0000000</real>
            <key>VibrationStrength</key>
            <real>1.0000000</real>
        </dict>
        <key>victory_count</key>
        <integer>5</integer>
        <key>cloud_save_enabled</key>
        <key>mute_music</key>
        <key>mute_fx</key>
    </dict>
</plist>
