#MLProperties: name (type:default) min:max -- information
#MLProp : EnableLMBTweakWithoutItem (int:1,>=0.0,<=1.0) -- Enable LMB Tweak when item is not being held "on mouse"
#MLProp : EnableLMBTweakWithItem (int:1,>=0.0,<=1.0) -- Enable LMB Tweak when item is being held "on mouse"
#MLProp : EnableRMBTweak (int:1,>=0.0,<=1.0) -- Enable RMB Tweak
#
#Wed Oct 29 22:37:08 GMT 2025
EnableRMBTweak=1
EnableLMBTweakWithoutItem=1
EnableLMBTweakWithItem=1
